<body>



  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Product Tables</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Products</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Default Table</h5>

              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Brand</th>
                    <th scope="col">Model</th>
                    <th scope="col">Category</th>
                    <th scope="col">Selling Price</th>
                    <th scope="col">Primary image</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Remove</th>


                  </tr>
                </thead>
                <tbody>
                  {{#each products}}
                  <tr>
                    <td>{{this.brand}}</td>
                    <td>{{this.model}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.price}}</td>
                    <td><img style="width: 60px; height:auto" src="{{this.image.[0]}}" alt="img loading"></td>
                    <td><a href="/admin/editproduct/{{this._id}}" class="btn btn-primary">📝</a></td>
                    <td><a onclick="return productDelete('{{this._id}}')"  class="btn btn-danger"
                        >🗑️</a></td>

                  </tr>
                  {{/each}}

                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
          </div>


        </div>
      </div>
    </section>

  </main><!-- End #main -->



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>
      <script>
     function productDelete(id) {
    console.log(">>>>>>>>>>>>>>>>>>>")
  const DNDALERT = new DNDAlert({
    title: 'Alert',
    message:
        'Are you sure want to return this product??',
    type: 'info',
    html: false,
    buttons: [
      {
        text: 'Yes',
        type: 'primary',
        onClick: () => {
          deleteproduct(id)
        },
      },
      {
        text: 'Close',
        onClick: (bag) => {
          bag.CLOSE_MODAL();
        },
      },
    ],
    closeBackgroundClick: true,
    portalElement: document.querySelector('body'),
    portalOverflowHidden: true,
    textAlign: 'center',
    theme: 'white',
    onOpen: (bag) => {
      console.log('Modal Opened');
      console.log(bag.PROPERTIES);
    },
    onClose: (bag) => {
      console.log('Modal Closed');
      console.log(bag);
    },
    opacity: 1,
    autoCloseDuration: 15000,
    draggable: true,
    animationStatus: true,
    closeIcon: false,
    sourceControlWarning: true,

  });
}
</script>