<!doctype html>
<html class="no-js" lang="en">

{{!-- <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gota eCommerce HTML5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head> --}}

<body>
    

    <div class="search_area">
        <div class="search_close">
            <span><i class="fal fa-times"></i></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="search-wrapper text-center">
                        <h2>search</h2>
                        <div class="search-filtering pt-30">
                            <div class="search_tab">
                                <ul class="nav nav-tabs justify-content-center mb-55" id="myTab2" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab2" data-bs-toggle="tab"
                                            data-bs-target="#home2" type="button" role="tab"
                                            aria-selected="true">All categories</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab2" data-bs-toggle="tab"
                                            data-bs-target="#profile2" type="button" role="tab" 
                                            aria-selected="false">Basketball</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" data-bs-toggle="tab"
                                            data-bs-target="#contact2" type="button" role="tab" 
                                            aria-selected="false">Handbag</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="sportswear-tab" data-bs-toggle="tab"
                                            data-bs-target="#sportswear" type="button" role="tab"
                                            aria-selected="false">Sportswear</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent2">
                                    <div class="tab-pane fade show active" id="home2" role="tabpanel"
                                        >
    
                                    </div>
                                    <div class="tab-pane fade" id="profile2" role="tabpanel"
                                        >
    
                                    </div>
                                    <div class="tab-pane fade" id="contact2" role="tabpanel">
    
                                    </div>
                                    <div class="tab-pane fade" id="sportswear" role="tabpanel"
                                        >
    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main_search">
                            <form action="#">
                                <input type="text" name="search" placeholder="search products">
                                <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fix">
        <div class="side-info">
            <button class="side-info-close"><i class="fal fa-times"></i></button>
            <div class="side-info-content">
                <div class="mobile-menu"></div>
                <div class="contact-infos mb-30">
                    <div class="contact-list mb-30">
                        <h4>Office Address</h4>
                        <p>123/A, Miranda City Likaoli
                            Prikano, Dope</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Phone Number</h4>
                        <p>+0989 7876 9865 9</p>
                        <p>+(090) 8765 86543 85</p>
                    </div>
                    <div class="contact-list mb-30">
                        <h4>Email Address</h4>
                        <p><a href="https://themepure.net/cdn-cgi/l/email-protection" class="_cf_email_" data-cfemail="442d2a222b04213c25293428216a272b29">[email&#160;protected]</a></p>
                        <p><a href="https://themepure.net/cdn-cgi/l/email-protection" class="_cf_email_" data-cfemail="513429303c213d347f3c30383d1139243c7f323e3c">[email&#160;protected]</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-overlay"></div>

  <!-- cart area start  -->
  <div class="cart__sidebar">
    <div class="container">
        <div class="cart__content">
            <div class="cart-text">
                <h3 class="mb-40">Shopping cart</h3>
                <div class="add_cart_product">
                    <div class="add_cart_product__thumb">
                        <img src="/stylesheets/img/quick_view/page/product/29-3.jpg" alt="">
                    </div>
                    <div class="add_cart_product__content">
                        <h5><a href="shop.html">Running 3-Stripes</a></h5>
                        <p>1 × $66.00</p>
                        <button class="cart_close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
                <div class="add_cart_product">
                    <div class="add_cart_product__thumb">
                        <img src="/stylesheets/img/quick_view/page/product/17.jpg" alt="">
                    </div>
                    <div class="add_cart_product__content">
                        <h5><a href="shop.html">Buddy non Stripes</a></h5>
                        <p>1 × $40.00</p>
                        <button class="cart_close"><i class="fal fa-times"></i></button>
                    </div>
                </div>
            </div>
            <div class="cart-icon">
                <i class="fal fa-times"></i>
            </div>
            <div class="cart-bottom">
                <div class="cart-bottom__text">
                    <span>Subtotal:</span>
                    <span class="end">$121.00</span>
                    <a href="cart.html">view cart</a>
                    <a href="checkout.html">checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="cart-offcanvas-overlay"></div>
<!-- cart area end  -->

    {{!-- <!-- breadcrumb area start -->
    <div class="page-layout" data-background="/stylesheets/img/slider/shop.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <div class="breadcrumb-area text-center">
                        <h2 class="page-title">Cart</h2>
                            <div class="breadcrumb-menu">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb justify-content-center">
                                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                    <li class="breadcrumb-item"><a href="cart.html">cart</a></li>
                                </ol>
                            </nav>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end --> --}}
<div><img src="/stylesheets/img/slider/shop.jpg" alt=""></div>
    <div class="f_cart_area pt-110 mb-100">
        <div class="container">
            <div class="row">
                {{#if products}}
                <div class="col-xl-8 col-lg-8 col-md-12">
                    <div class="cart_table">
                        <table>
                            <tr> 
                                <td>Product</td>
                                <td>product Name</td>
                                <td>price</td>
                                <td>Quantity</td>
                                {{!-- <td>Total</td> --}}
                                <td>Option</td>
                                
                               </tr>
                               
                            <tbody>

                               {{#each products}}
                                <tr class="max-width-set">
                                    
                                    <td>
                                        <img src="{{this.products.image.[0]}}" alt="">
                                    </td>
                                    <td>{{this.products.brand}}</td>
                                    <td>{{this.products.price}}</td>
                                  
                                    <td>{{#if this.products.available}}
                                        <div class="viewcontent__action single_action pt-30">
                                        <!-- <span><input type="number" placeholder="<%= product.quantity %>"></span> -->
                                        <button class="quantitys btn btn-dark" onclick="changeQuantity('{{this._id}}','{{this.products._id}}',-1)">-</button>
                                         <span id="{{this.products._id}}">{{this.quantity}}</span>
                                        <button class="quantity btn btn-dark" onclick="changeQuantity('{{this._id}}','{{this.products._id}}',1)">+</button>
                                        <span id="error" style="color: red;"></span>
                                    </div>{{else}}
                                     <p class="h5 text-danger">Sorry, this product is currently out of stock PLEASE REMOVE</p>
                                    {{/if}}
                                    </td>
                                     {{!-- <td></td> --}}
                                    <td class="width-set">
                                        <button class="quantity btn btn-danger" onclick="removeCartItem('{{this._id}}','{{this.products._id}}')">Remove</button>
                                    </td>
                                    
                                </tr>
                               {{/each}} 
                            </tbody>
                            <tfoot>
                                <tr class="design-footer">
                                    {{!-- <td>
                                        <input type="text" placeholder="Coupon Code">
                                    </td>
                                    <td><button type="submit">Apply Coupon</button></td>
                                    <td colspan="3"><a href="#">update cart</a></td> --}}
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12">
                    <div class="cart__acount">
                        <h5>Cart totals</h5>
                      <table>
                          <tr class="first-child">
                              <td>Subtotal</td>
                              <td id="Totala">{{Total}}</td>
                          </tr>
                          <tr class="first-child lastchild">
                              <td>Shipping</td>
                              <td>Enter your address to view shipping options <br>
                                Calculate shipping</td>
                          </tr>
                          <tr class="first-child">
                              <td>Total</td>
                              <td id="Total">{{Total}}</td>
                          </tr>
                          <tr>   
                              <td colspan="2">
                                 {{#if products.outofStock}}
                                  <li>
                                    <button 
                                        class="btn btn-animation proceed-btn fw-bold">Some Products Unavailable</button>
                                </li>
                                 
                                  {{else}}
                                 <a href="/proceedToCheckout"><input type="submit" value="procced to checkout"></a>
                                   {{/if}}
                              </td>
                          </tr>
                      </table>
                    </div>
                </div>
                {{else}}
                 <div class="text-center">

                    <h3>No Items</h3>
                    <a href="/viewlistProducts">Add products to cart</a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
    

     <!-- popup area start -->
    <div class="overlay"></div>
    <div class="product-popup">
        <div class="view-background">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-5">
                    <div class="quickview">
                        <div class="quickview__thumb">
                            <img src="/img/quick_view/25.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-7">
                    <div class="viewcontent">
                        <div class="viewcontent__header">
                            <h2>Brown Leather Bags</h2>
                            <a class="view_close product-p-close" href="javascript:void(0)"><i
                                    class="fal fa-times-circle"></i></a>
                        </div>
                        <div class="viewcontent__rating">
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star ratingcolor"></i>
                            <i class="fal fa-star"></i>
                        </div>
                        <div class="viewcontent__price">
                            <h4><span>$</span>99.00</h4>
                        </div>
                        <div class="viewcontent__stock">
                            <h4>Available :<span> In stock</span></h4>
                        </div>
                        <div class="viewcontent__details">
                            <p>Anlor sit amet, consectetur adipiscing elit. Fusce condimentum est lacus, non pretium
                                risus lacinia vel. Fusce eget turpis orci.</p>
                        </div>
                        <div class="viewcontent__action">
                            <span>Qty</span>
                            <span><input type="number" placeholder="1"></span>
                            <span><a href="#">add to cart</a></span>
                            <span><i class="fal fa-heart"></i></span>
                            <span><i class="fal fa-info-circle"></i></span>
                        </div>
                        <div class="viewcontent__footer">
                            <ul>
                                <li>Category:</li>
                                <li>SKU:</li>
                                <li>Brand:</li>
                            </ul>
                            <ul>
                                <li>Watches</li>
                                <li>2584-MK63</li>
                                <li>Brenda</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popup area end -->

</body>


</html>


<script>
    function changeQuantity(cartID,proID,count,price){
          
        let quantity=parseInt(document.getElementById(proID).innerHTML)
        if(quantity == 1 && count == '-1'){
removeCartProduct(cartID,proID,count,quantity)
  }else{
        count=parseInt(count)
           $.ajax({
            
            url:'/change-product-quantity',
            data:{
                cart:cartID,
                products:proID,
                count:count,
                quantity:quantity,
              
                
            },
            method:'post',
            success:(response)=>{
              
                if(response.removeProduct){

                    alert("product remove from cart")
                    location.reload()
                }else{
console.log(response,'ddddddddddddddddd')
                    document.getElementById(proID).innerHTML=quantity+count
                     document.getElementById('Total').innerHTML=response.Total
                      document.getElementById('Totala').innerHTML=response.Total
                }
                // alert(response)
            },
            error: function(xhr, status, error) {
                console.log(error);
if (xhr.status === 400 && xhr.responseJSON && xhr.responseJSON.error === "Stock limit Exceeded") {
 Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'Stock limit Exceeded!',
  footer: '<a href="">SORRY</a>'
})
    // Set a timer to clear the error message after 5 seconds
   
} else {
    $('#error').text(error);
}
}
            
           })
  }
    }
    function removeCartItem(cartID,proID){

Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    Swal.fire(
      'Deleted!',
      'Your file has been deleted.',
      'success'
      ,
        $.ajax({

            url:'/remove_cartItem',
             data:{

                cart:cartID,
                products:proID
             },
             method:'post',
             success:(response)=>{

                     {{!-- alert("product remove from cart")  --}}
      
                    {{!-- location.reload() --}}
                location.reload()
             }
        })
      
    )
  }
})
        
      
}

</script>